<h1>!! Welcome to Indicosmic.com!!</h1>
<h2>!! Two-way Data binding in angular 16!!</h2>
<p>!! twoway Data binding example !!</p>
<p>Enter Your Name :
<br>
<!-- </p><input [value]='data' (input)='data=$event.target'> -->
<p>your Name : {{data}}</p>
<div style="text-align: center;">
<table border="2" style="text-align: center;">
 <tr>
  <th>EmpId</th>
  <th>name</th>
  <th>Address</th>
 </tr>
 <tr *ngFor="let employee of employees" >
  <td>{{employee.empId}}</td>
  <td>{{employee.name | uppercase}}</td>
  <td>{{employee.address}}</td>

 </tr>
 
</table>
</div>
<br>
<div>
  {{dob}}
  <br>
  medium:{{dob | date:"medium" | lowercase}}
  <br>
  Specific format : {{dob | date:'dd-mm-yyyy'}}
  <br>
  medium time : {{dob | date:'medium Time'}}
  <br>
  salary : {{salary|currency:'USD':true}}
  <br>
   full Date : {{dob | date: 'fullDate' | uppercase}} 
</div>
<h2 style="text-align: center; background-color: blueviolet;">!!Pipes Example!!</h2>
<h4 style="text-align: center; background-color: chartreuse;">{{name | uppercase}} - {{position  | lowercase}}</h4>
<h2 style="text-align: center; background-color: cornflowerblue;">!!Slice Example!!</h2>
<h4 style="text-align: center; background-color: cadetblue;">{{work | slice : 3}}</h4>